:root {
  --bg-primary: #ffffff;
  --color-text: #18181b;
  --color-muted: #52525b;
  --color-muted-2: #a1a1aa;
  --color-muted-3: #d4d4d8;
  --color-primary: #27272a;
  --color-secondary: #3f3f46;
  --border-color: #e4e4e7;
}
