:root {
  --bg-primary: #ffffff;
  --color-text: #1c0a12;
  --color-muted: #63414e;
  --color-muted-2: #a38290;
  --color-muted-3: #d7c3cc;
  --color-primary: #881337;
  --color-secondary: #9f1239;
  --border-color: #e5dbdf;
}
