:root {
  --bg-primary: #fefefe;
  --bg-secondary: #fff8fa;
  --border-color: #fecdd3;
  --color-primary: #7c2d4b;
  --color-secondary: #a60327;
  --color-text: #1f1f1f;
  --color-muted: #64748b;
  --color-muted-2: #94a3b8;
  --color-muted-3: #cbd5e1;
}
